# Python virtual environment
.venv/

# PyCharm IDE files
.idea/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
